/* ~~~~ Landing Page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body.index #mainHeader {
  display: none;
}

.landing {
  background-image: url("../img/Peha-Banquet-CC-By-1920.jpg");
  background-size: cover;
  background-position: center;
}

.landing h1 b {
  color: #fff;
}

.landing .container:not(.ombre) {
  padding: 50px;
  min-height: 700px;
}

.landing .col-sm-4 {
  min-height: 457px;
}

.landing .container:not(.ombre) .well a {
  border: none;
  color: #fff;
}

.landing .container:not(.ombre) .well {
  background: #677835;
  font-size: 18px;
  line-height: 22px;
  border: none;
  color: #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 40% auto 15%;
  box-shadow: 0px 2px 2px #000;
  visibility: hidden;
  opacity: 0.9;
}

.landing .container:not(.ombre) .well:hover {
  opacity: 1;
}

.landing .container:not(.ombre) .col-sm-4:first-child .well {
  margin-left: -15px;
  margin-top: 60%;
  background: #CC2D18;
  padding-top: 29px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
}

.landing .container:not(.ombre) .col-sm-4:nth-of-type(2) .well {
  animation: 2s fadeIn;
  animation-fill-mode: forwards;
}

.landing .container:not(.ombre) .col-sm-4:last-child .well {
  margin-right: -15px;
  margin-top: 60%;
  background: #6A5687;
  padding-top: 34px;
  animation: 3s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.landing h1{
  font-size: 69px;
  text-align: center;
  text-shadow: 0px 0px 10px #000;
  margin-top: 7%;
}

@media (max-width:768px) {
  .landing h1{
    font-size: 36px;
  }
}

.landing .container:not(.ombre) .col-md-8 {
  margin-top: 10%;
  margin-bottom: 15%;
}

.choice {
  padding: 0 !important;
}

.choice img {
  max-width: 300px;
  margin-top: 10px;
}

.choice .btn {
  color: #fff;
  font-weight: bold;
}

.choice .btn-soutenir {
  font-size: 14px;
}

/* ~~~~ Aller plus loin / Pourquoi ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.more .well {
  margin-top: 30px;
}

.more a:not(.btn) {
  border: none;
}

.more h2 {
  border-bottom: 8px solid #eee;
}

.accroche {
  font-weight: bold;
}

.text-chatons a {
  color: #DBA306;
}
.text-chatons a:hover,
.text-chatons a:focus,
.text-chatons a:active {
  color: #C48a1b;
}

/* ~~~~ Revue de presse ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#speakabout,#speakabout .container {
  background: #444;
  box-shadow: none;
}
#speakabout a:not(.btn) {
  color: #fff;
  border: none;
  font-size: 16px;
}
#speakabout h2 {
  color: #fff;
  margin-bottom: 20px;
}

#speakabout ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

#speakabout img {
  margin: 5px;
}

/* ~~~~ Enjeux Dangers Solutions Concrètement ~~~~~~~~~~~~~~~~~~~~~~~ */
#enjeux {
  background: #A81400;
}

#solutions {
  background: #677835;
}

#enjeux .container,
#dangers .container,
#solutions .container,
#concret .container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}

#enjeux img {
  max-width: 300px;
  margin: auto;
}
