body {
    background:#eee;
}

body > .row {
    margin-left:0;
    margin-right:0;
}

#internav ul {
    margin-top: 0px;
    margin-bottom: 10px;
}
#internav li a {
    color: #666;
    padding: 12px 15px;
    text-decoration: none;
    border:none !important;
    line-height: 14px;
}
#internav li a:hover,
#internav li a:focus,
#internav li a.active {
    background: #767676;
    color: #fff;
}

#internav form div {
    margin-top: 4px;
    margin-left: 25px
}

#framanav .nav {
    max-height:42px;
}
#framanav .nav > li:last-child {
    max-height:42px;
}

header {
    padding: 2em 1em 0.5em;
}

header .lead {
    color: #666;
    font: italic 1.3em/1.35 "PT Sans",Arial,sans-serif;
    padding-top: 1.65em;
    margin-bottom: 0.5em;
}
h1 a, h3 a, h4 a,
h1 a:hover, h3 a:hover, h4 a:hover,
h1 a:focus, h3 a:focus, h4 a:focus {
    text-decoration:none;
}
header a,
h1 a, h1 a:hover, h1 a:focus,
h2 a, h2 a:hover, h2 a:focus,
h3 a, h3 a:hover, h3 a:focus,
h4 a, h4 a:hover, h4 a:focus,
h5 a, h5 a:hover, h5 a:focus{
    text-decoration: none;
}

main {
    /*margin-bottom:30px;*/
}

@media (min-width:1200px) {
    .container {
        width:1440px;
    }
}

.container.ombre {
    padding-top:15px;
    padding-bottom:15px;
    -webkit-box-shadow: -2px 6px 4px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: -2px 6px 4px rgba(50, 50, 50, 0.5);
    box-shadow: -2px 6px 4px rgba(50, 50, 50, 0.5);
}

#mainHeader .container.ombre {
    margin-bottom:0 !important;
    padding-bottom: 0;
    padding-top: 0;
}
#tips .container.ombre,
#list .container.ombre,
#medias .container.ombre {
    margin-top:0 !important;
}
#bloc-carte .container.ombre {
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.leds {
    background: #677835;
    border-radius:0 !important;
    display:none;
    margin: 30px 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.leds .close {
    float:right;
    right:auto;
    top:auto;
    margin-top:-10px;
}

#leds {
    top: -140px;
    border:none;
}


.btn-soutenir {
    font-size:24px;
    font-weight:bold;
    margin-bottom:20px;
}

.btn-xs.btn-soutenir {
    font-size:12px;
    font-weight:normal;
    margin:0px;
}
.modal-footer .btn-soutenir {
    font-size:14px;
    font-weight:normal;
    margin:0;
}

#back-to-top {
    display:none;
    position:fixed;
    bottom:30px;
    right:30px;
    font-size: 3em;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #767676;
    opacity:0.4;
    color: #FFF;
    border:none;
}

#back-to-top:hover,
#back-to-top:focus {
    opacity:1;
}

.thumbnail p {
    margin-top:20px;
}

.tab-pane {
    padding : 20px 0;
}

#screenshots .col-sm-4 {
    height: 350px;
}

.panel-default > .panel-heading {
    background : #E3EBC7;
}

.panel {
    border: 1px solid #C0D481;
    margin-bottom:20px !important;
    margin-left:15px;
    margin-right:15px;
}

.panel td:first-child,
.panel th:first-child {
    width:50%;
}

.panel td .col-sm-6 {
    padding:0;
}

@media (min-width: 768px) {
    .panel td:first-child,
    .panel th:first-child {
        width:50%;
    }

    .panel td .col-sm-6:first-child {
        padding-right:8px;
    }
}



.panel td:first-child,
.panel th:first-child {
    border-right:1px solid #ccc !important;
}


.panel-title i {
    float:left;
}
.panel-heading a,
.panel-heading a:link,
.panel-heading a:hover {
    text-decoration:none !important;
}
.panel-title {
    font-size:20px;
}

table .list-group-item img {
    width:24px;
    height:24px;
}

.table-hover > tbody > tr td {
    padding-top:42px;
}

.table-hover > tbody > tr td:first-child {
    padding-top:6px;
}

.table-hover > tbody > tr td:first-child h3 a {
    padding-left:10px;
    color:#616161;
}

.table-hover > tbody > tr:hover td {
    border-color: #C0D481;
    background-color: #E3EBC7;
}
.table-hover > tbody > tr:hover td:first-child {
    border-color: #E0B3A8;
    background-color: #FDE0DC;
}

a {
    border-bottom: 1px solid #ccc;
    text-decoration:none !important;
}

a:hover,
a:focus {
    border-bottom: 2px solid #ccc;

    -webkit-transition: all 100ms ease 0s;
    -moz-transition: all 100ms ease 0s;
    -o-transition: all 100ms ease 0s;
    transition: all 100ms ease 0s;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover,
h1 a:focus, h2 a:focus, h3 a:focus,
h4 a:focus, h5 a:focus, h6 a:focus,
a[href="https://framasoft.org"],
#framanav a { border : none;}

a.btn:hover,
a.btn:focus {
    border-bottom-width : 1px;
}

.navbar-nav > li > a[href="#bloc-carte"] {
    padding:5px 15px;
}
.navbar-nav > li > a[href="#bloc-carte"] img {
    height:40px;
}

/* Landing */
body.index #mainHeader, body.index #internav {
    display:none;
}

.landing {
    background: #444;
}
.landing .container {
    background: url("http://s2.static-clubeo.com/uploads/vttarverneslabrochateaugay/news/repas-gaulois__nvyiuo.jpg") no-repeat right top;
    padding: 50px;
    min-height:600px;
}

.landing .col-sm-4 {
    margin-top:10%;
    margin-bottom:10%;
}

.choice img {
    max-width:300px;
    margin-top: 10px;
}

.choice .btn {
    color: #fff;
    font-weight:bold;
    /*font-size: 20px;
    text-transform: uppercase;*/
}

.choice .btn-soutenir {
    font-size:14px;
}

#enjeux img {
    max-width:300px;
    margin:auto;
}

#speakabout,#speakabout .container {
    background: #444;
    box-shadow:none;
}
#speakabout a {
    color: #fff;
    border: none;
    font-size:16px;
}
#speakabout h2 {
    color:#fff;
    margin-bottom: 20px;
}

#speakabout ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

#speakabout img {
    margin:5px;
}

/* Liste des services */
.list .panel {
    border-radius:0;
    border-bottom:5px solid #eee;
    border-top:0;
    border-left:0;
    border-right:0;
    margin-left:0;
    margin-right:0;
    padding-bottom:20px;
}

.list .panel-heading {
    background:#fff;
}

.list .panel-heading h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 300;
}

.dropup li {
    text-align:center;
    font-size: 18px;
}
.dropup li a {
    border:none;
    padding:15px;
}
.dropup ul.dropdown-menu {
    padding:0;
    margin-bottom: -46px;
}

.desc {
    min-height:160px;
    max-height: 160px;
    overflow: auto;
}

/*.list .panel .btn-default {
    font-size:16px;
    border-color: transparent;
}*/

.list .panel h3 i.fa {
    font-size:50px;
    margin-bottom: 1rem;
}

/* List modal */
.list .modal-header h1 {
    font-size: 32px;
    margin: 0 20px !important;
}

.list .modal-header img {
    margin-right: 30px;
    width:96px;
}

.list .modal-header {
    background: #FFEBB5;
    border:none;
}

.list .modal-header span {
    line-height: 42px;
}

.list .modal-header .desc {
    font-size: 24px;
    font-weight: 300;
}

.list .modal-footer {
    border:none;
    padding-top:0;
}

.nav-cats {
    position:relative;
    margin:0 auto;
    overflow:hidden;
    padding:5px;
    height:50px;
}

#sticky .nav-tabs {
    position:absolute;
    left:0px;
    top:0px;
    min-width:3000px;
    margin-left:12px;
    margin-top:0px;
}

#sticky[style*="relative"] li:first-child {
    display:none;
}

.nav-tabs li{
    display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#757575;
    vertical-align:middle;
    text-transform:uppercase;
}

.nav-tabs li.active {
    color:#666;
}

.scroller {
    text-align:center;
    cursor:pointer;
    padding:7px;
    padding-top:15px;
    white-space:no-wrap;
    vertical-align:middle;
    background-color:#fff;
    color:#666;
}

.scroller-right{
    float:right;
}

.scroller-left {
    float:left;
}

#results_wrapper {
    display:none;
    background-color: #FAEBE8;
}

/**/
.select2-container {
    width:100% !important;
}

.select2-container .select2-selection--single {
    height:34px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height:32px !important;
}

/* Screenshots */
.web-browser {
    border:2px solid #abacae;
    border-radius:4px;
    box-sizing:border-box;
    height:auto;
    margin:24px auto;
    max-width:100%;
    padding:42px 0px 0px;
    position:relative;
    text-align:center;
    width:888px;
}
.web-browser .toolbar {
    border-bottom:2px solid #abacae;
    padding:12px;
    padding-top:9px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.web-browser .toolbar img {
    display:inline-block;
    vertical-align:middle;
}
.web-browser .toolbar .search-bar {
    background-color:#ddd;
    border-radius:2px;
    display:inline-block;
    height:20px;
    margin:0 12px;
    width:calc(100% - 128px);
    vertical-align:middle;
}
.web-browser .actions {
    margin-bottom:0;
}
.web-browser .img-responsive {
    padding: 4px 2px 2px;
}