body > .row:last-child {
    padding-top:20px;
}

#bloc-carte {
    margin-bottom:30px;
}

.c-text {
    min-height:464px;
    padding-bottom:200px; /* (hauteur de l'image en background) */
    background: url(../img/steve.png) no-repeat bottom right;
}
.c-text.fight {
    background: url(../img/fight.png) no-repeat bottom right;
}
.c-text.potion {
    background: url(../img/potion.png) no-repeat bottom right;
}
#t-village {
    background: url(../img/village.png) no-repeat bottom right;

}
#t-nsa {
    background: url(../img/nsa.png) no-repeat bottom right;
}

#t-fermetum, #t-centralisum, #t-espionnum, #t-privatum {
    background: url(../img/legion.png) no-repeat bottom right;
}

#enjeux {
    background:#366F86;
}

#dangers {
    background:#A81400;
}

#solutions {
    background:#677835;
}

#concret {
    background:#6A5687;
}

#enjeux .container,
#dangers .container,
#solutions .container,
#concret .container {
    margin-top:30px;
    margin-bottom:30px;
    padding:30px;
}

